{% extends "helpdesk/public_base.html" %}
{% load i18n saved_queries %}{% load url from future %}

{% block helpdesk_title %} :: {% trans "Powered by django-helpdesk" %}{% endblock %}

{% block helpdesk_extra_head %}
        <link rel='alternate' href='{% url 'helpdesk_rss_user' user.username %}' type='application/rss+xml' title='{% trans "My Open Tickets" %}' />
        <link rel='alternate' href='{% url 'helpdesk_rss_activity' %}' type='application/rss+xml' title='{% trans "All Recent Activity" %}' />
        <link rel='alternate' href='{% url 'helpdesk_rss_unassigned' %}' type='application/rss+xml' title='{% trans "Unassigned Tickets" %}' />
{% endblock helpdesk_extra_head %}

{% block helpdesk_css %}
        <style type="text/css">
        {# hide google translate top bar and tooltips (generated for every translated item) #}
        .goog-te-banner-frame, .goog-te-balloon-frame, .goog-tooltip {display: none !important;}
        </style>
{% endblock helpdesk_css %}

{% block helpdesk_footer %}
                <div class="col-md-2"><a href='{% url 'helpdesk_rss_index' %}'><img src='{{ STATIC_URL }}helpdesk/rss_icon.png' width='14' height='14' alt='{% trans "RSS Icon" %}' title='{% trans "RSS Feeds" %}' border='0' />{% trans "RSS Feeds" %}</a></div>
                <div class="col-md-2"><a href='{% url 'helpdesk_api_help' %}'>{% trans "API" %}</a></div>
                {% if user.is_superuser %}<div class="col-md-2"><a href='{% url 'helpdesk_system_settings' %}'>{% trans "System Settings" %}</a></div>{% endif %}
{% endblock helpdesk_footer %}

{% block helpdesk_content %}
{% with user_saved_queries_=user|saved_queries %}
{{ super.block }}
{% endwith %}
{% endblock helpdesk_content %}