{% if debug %}{% load i18n %}
        <div class="modal fade" id="debug-modal" tabindex="-1" role="dialog" aria-labelledby="debug-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
                        <h4 class="modal-title" id="debug-modal-label">{% trans "Queries" %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% blocktrans count query_count=sql_queries|length %}{{ query_count }} Query{% plural %}{{ query_count }} Queries{% endblocktrans %}</p>
                        <table id="debugQueryTable" class="table table-striped">
                            <col width="1"></col>
                            <col></col>
                            <col width="1"></col>
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">SQL</th>
                                    <th scope="col">Time</th>
                                </tr>
                            </thead>
                            <tbody>{% for query in sql_queries %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ query.sql|escape }}</td>
                                    <td>{{ query.time }}</td>
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
