{% extends "helpdesk/public_base.html" %}{% load i18n humanize %}

{% block helpdesk_body %}
<div class="page-header">
    <h1>{% blocktrans with category.title as kbcat %}Knowledgebase Category: {{ kbcat }}{% endblocktrans %} <small>{{ category.description }}</small></h1>
</div>

<p>{% blocktrans with category.title as kbcat %}You are viewing all items in the {{ kbcat }} category.{% endblocktrans %}</p>

<div class="list-group kb-articles">
{% for item in items %}
    <a class="list-group-item" href='{{ item.get_absolute_url }}'>
        <span class="label label-primary rating"><span class="hidden-xs">{% trans "Rating" %}: </span>{{ item.score }}</span>
        <h3>{{ item.title }}</h3>
        <p>{{ item.question }}</p>
        <div class="last-update"><span class="hidden-xs">{% trans "Last Update" %}: </span>{{ item.last_updated|naturaltime }}</div>
    </a>
{% endfor %}
</div>
{% endblock %}
