{% extends "helpdesk/public_base.html" %}{% load i18n %}{% load markdown_deux_tags %}

{% block helpdesk_body %}
<div class="page-header">
    <h1>{% blocktrans with item.title as item_title %}Knowledgebase: {{ item_title }}{% endblocktrans %} <small>{{ item.question }}</small></h1>
</div>

<div class="row">
    <div class="col-lg-7">
{{ item.answer|markdown }}
        <hr/>
        <p>{% blocktrans with item.category.title as category_title and item.category.get_absolute_url as category_url %}View <a href='{{ category_url }}'>other <em>{{ category_title }}</em> articles</a>, or continue <a href='../'>viewing other knowledgebase articles</a>.{% endblocktrans %}</p>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-default kb-feedback">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Feedback" %}</h3>
            </div>
            <div class="panel-body">
                <p>{% trans "We give our users an opportunity to vote for items that they believe have helped them out, in order for us to better serve future customers. We would appreciate your feedback on this article. Did you find it useful?" %}</p>

                <ul class="list-inline text-center">
                    <li><a class="btn btn-success btn-sm" href='vote/?vote=up'>{% trans "This article was useful to me" %}</a></li>
                    <li><a class="btn btn-danger btn-sm" href='vote/?vote=down'>{% trans "This article was <strong>not</strong> useful to me" %}</a></li>
                </ul>

                <p>{% trans "The results of voting by other readers of this article are below:" %}</p>

                <dl class="dl-horizontal results">
                    <dt>{% trans "Recommendations" %}</dt><dd>{{ item.recommendations }}</dd>
                    <dt>{% trans "Votes" %}</dt><dd>{{ item.votes }}</dd>
                    <dt>{% trans "Overall Rating" %}</dt><dd>{{ item.score }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}
