{% extends "helpdesk/public_base.html" %}{% load i18n %}

{% block helpdesk_body %}
{% if not helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC and not helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}"</span></button>
        {% trans "Please use button at upper right to login first." %}
    </div>
{% endif %}
<div class="row">
    <div class="col-sm-6 col-md-8">
{% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
{% include "helpdesk/include/ticket-creation.html" %}
{% endif %}
    </div>
    <div class="col-sm-6 col-md-4">
{% if helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC %}
{% include "helpdesk/include/ticket-lookup.html" %}
{% endif %}
{% if kb_categories %}
{% include "helpdesk/include/kb-categories.html" %}
{% endif %}
    </div>
</div>
{% endblock %}
