{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Reports &amp; Statistics" %}: {{ title }}{% endblock %}

{% block helpdesk_css %}
        <link rel='stylesheet' typ='text/css' href='{{ STATIC_URL }}helpdesk/jquery.jqplot/jquery.jqplot.min.css' />
{% endblock helpdesk_css %}

{% block helpdesk_body %}
<h2>{% trans "Reports &amp; Statistics" %}: {{ title }}</h2>

{% if user_saved_queries_ %}
    <div class="well">
        <p>{% trans "You can run this query on filtered data by using one of your saved queries." %}</p>
        <form class='form-inline' role='form' method='GET' action='./'>
            <div class='form-group'>
                <label for='saved_query' class='sr-only'>{% trans "Select Query:" %}</label>
                <select class='form-control' name='saved_query'>
                    <option value="">--------</option>{% for q in user_saved_queries_ %}
                    <option value="{{ q.id }}"{% ifequal saved_query q %} selected{% endifequal %}>{{ q.title }}</option>{% endfor %}
                </select>
            </div>
            <button class='btn btn-primary' type='submit'>{% trans "Filter Report" %}</button>
        </form>
    </div>
{% else %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}"</span></button>
        {% trans "Want to filter this report to just show a subset of data? Go to the Ticket List, filter your query, and save your query." %}
    </div>
{% endif %}

<table class="table table-hover table-bordered">
<caption>{{ title }}</caption>
<thead>
<tr>{% for h in headings %}<th>{% if forloop.first %}{{ h|title }}{% else %}{{ h }}{% endif %}</th>{% endfor %}</tr>
</thead>
<tbody>
{% for d in data %}
<tr class='row_{% cycle odd,even %}'>{% for f in d %}<td class='report'>{{ f }}</td>{% endfor %}</tr>{% endfor %}
</tbody>
</table>

<div class='jqPlot' id='placeholder' style='width: 600px; height: 400px;'></div>

{% endblock helpdesk_body %}

{% block helpdesk_tail %}{{ block.super }}
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}helpdesk/jquery.jqplot/excanvas.min.js"></script><![endif]-->
    <script src='{{ STATIC_URL }}helpdesk/jquery.jqplot/jquery.jqplot.min.js' type='text/javascript' language='javascript'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}helpdesk/jquery.jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}helpdesk/jquery.jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}helpdesk/jquery.jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
{% if charttype == "date" %}{% include "helpdesk/include/chart-date.html" %}
{% elif charttype == "bar" %}{% include "helpdesk/include/chart-bar.html" %}
{% endif %}
{% endblock helpdesk_tail %}
