<div class='panel panel-default'>{% load i18n bootstrap %}{% load url from future %}
    <div class='panel-heading'>
        <h3 class='panel-title'>{% trans "View a Ticket" %}</h3>
    </div>
    <div class='panel-body'>
        <form method='get' action="{% url 'helpdesk_public_view' %}">
            {% csrf_token %}
            <fieldset>
                <div class='form-group{% if field.errors %} has-error{% endif %}'>
                    <label for='id_ticket'>{% trans "Ticket" %}</label>
                    <div class="input-group"><input type='text' name='ticket' /></div>
                </div>
                <div class='form-group{% if field.errors %} has-error{% endif %}'>
                    <label for='id_email'>{% trans "Your E-mail Address" %}</label>
                    <div class='input-group'><input type='email' name='email' /></div>
                </div>
            </fieldset>
            <button type='submit' class='btn btn-primary'>{% trans "View Ticket" %}</button>
        </form>
    </div>
</div>